

<div class="item">
        <div>
            <a href="~~$view['subjectUrl']~"><span  class="b">~~$view['subject']~</span></a>
            <span class="faded-text"> ~~$view['verb']~ </span>
            <a href="~~$view['objectUrl']~"><span>~~$view['object']~</span></a>

        </div>
        <div class="message">
            ~~$view['content']~
        </div>

    </a>
</div>
