
<div class="item">
    <!--
    <div class="photo">
        <a href="~~$view['objectUrl']~">
            <img class="alignleft" src="~~$view['srcImage']~" width="40" height="40" />
        </a>
    </div> -->

    <div class="title">
        <a href="~~$view['subjectUrl']~">~~$view['subject']~</a>
        <span class="verb"> ~~$view['verb']~ </span>
        <a href="~~$view['objectUrl']~">~~$view['object']~</a>
    </div>

    <div class="message">
        ~~$view['content']~
    </div>


</div>
<div class="clear"> </div>
