
<div class="item">

    <a href="~~$view['objectUrl']~">
        <div>
            <span  class="b">~~$view['subject']~</span>
            <span class="faded-text"> ~~$view['verb']~ </span>
            <span>~~$view['object']~</span>

        </div>

    </a>
</div>
