<div class="list-summary">
    <div class="row">
        <a href="/user/dashboard/list/detail.php?list_id=~~$view->pseudoId~">
            <div class="span4">
                <div class="photos">
                ~foreach($view->items as $item){~
                    <img src="~~$item->thumbnail~" />
                ~}~
                </div>
            </div>
        </a>
        <div class="span3">
            <div class="name">
                <a href="/user/dashboard/list/detail.php?list_id=~~$view->pseudoId~">
                    ~~$view->name~
                </a>
            </div>
            <div class="flickr-color b">
                ~~$view->count~ items
            </div>

        </div>
        <div class="span1">
            <div class="action">
                <a class="btn-flat" href="/user/dashboard/list/detail.php?list_id=~~$view->pseudoId~">Edit</a>
            </div>
        </div>

    </div>

</div>

