<div class="list-summary">
    <div class="row">
        <a href="/user/dashboard/list/detail.php?list_id=~~$view->pseudoId~">
            <div class="span4">
                <div class="nophoto">&nbsp;</div>
            </div>
        </a>
        <div class="span3">
            <div class="name">
                <a href="/user/dashboard/list/detail.php?list_id=~~$view->pseudoId~">
                    ~~$view->name~
                </a>
            </div>
            <div class="flickr-color b">
                no items
            </div>

        </div>
        <div class="span1">
            <div class="action">
                <a href="/user/dashboard/list/detail.php?list_id=~~$view->pseudoId~" class="btn-flat">Edit</a>
            </div>
        </div>

    </div>

</div>

