<div class="tile">
  	<div class="photo">         
		<a href="/item/~~$view->id~">
			<img src="~~$view->srcImage~" title="~~$view->originalName~"  alt="~~$view->originalName~"/>
        </a> 
    </div>
	
	<div class="description">
		~~$view->description~
	</div>
</div>


   
