
<style>

#lists {
    list-style: none;
    padding-left:10px;
    padding-right:0px;
    padding-top:5px;
    padding-bottom:5px;
    margin: 0;
    width:98%;
    height:160px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;


}

#list-container {
    border-radius: 8px;
    background-color: #f7f7f7 ;
    background-color: #eee ;

}

#lists li {
    padding-bottom: 5px;
    padding-left:5px;
    border-radius: 4px;
}
#lists li:hover {
    background-color: #ccc ;
    background-color: #999 ;
}

#lists li a {
    color: #222;
    font-weight:bold ;
}

#lists li a:hover {
    color: white;
    font-weight:bold ;
}

#list-form-wrapper {
    padding-top:10px;
    padding-bottom: 10px;
}

#list-form-wrapper input {
    width:75%;
}


</style>

<div>
    <h5> Add to list </h5>
    <div id="list-container">
        <ul id="lists">
        ~foreach($view->lists as $id => $name){~
            <li><a id="~~$id~" class="select-list" href="#">~~$name~</a></li>
        ~}~
        </ul>
    </div>
    <div id="list-form-wrapper">
        <form  id="list-form1"  name="list-form1" action="/user/action/list/update.php"   method="POST">
            <input class="faded-text" id="new-list-name" name="new-list-name" type="textbox" value="Enter new list name ..." />
            &nbsp;&nbsp;
            <button type="submit" class="btn" name="create" value="Create"><span>Create</span></button>
            <input type="hidden" name="items_json" value='~~$view->strItems~' />
            <input type="hidden" name="list_id" value="" />
            <input type="hidden" name="is_new" value="1" />
            <input type="hidden" name="qUrl" value="~~$view->qUrl~" />
        </form>
    </div>

</div>