<div class="user-tile">
    <span class="faded-text b">~~$view->name~</span>
    <div class="photo">
        <img src="~~$view->srcImage~" />
    </div>
    <div class="p5">
        <a class="btn btn-flat" href="~~$view->pubUserUrl~">view</a>
        &nbsp;
        <a class="btn btn-flat" href="" id="~~$view->followerId~|~~$view->followingId~" class="unfollow-user">unfollow</a>
    </div>

</div>
