
<div class="widget bbd5">
	<div class="row">
		<div class="span6">
		   ~~$view->answer~
		</div> <!-- span7 -->

		<div class="span2">
			<div class="author">
				<div class="meta">
					<span class="b"><a href="/pub/user/~~$view->pubUserId~">~~$view->userName~</a></span>
					<br>
					<span class="b">~~$view->createdOn~</span>
				</div>	
			</div>
	
		</div> <!-- span2 -->
	</div>
</div>

