 <div class="p10">
    <h5>
        ~~$view->title~
        &nbsp;&nbsp;
        <a class="b" href="~~$view->baseUrl~?show=~~$view->tab~">view ~~$view->count~ ~~$view->tab~</a>
    </h5>
    ~~$view->content~
</div>
