<div class="stamp">
    <div class="photo">         
        <a href="/item/~~$view->itemId~">
            <img src="~~$view->thumbnail~" title="~~$view->title~" alt="~~$view->title~" width="~~$view->twidth~" height="~~$view->theight~"/>
        </a> 
    </div>
    
</div>


   
