<div class="stamp">
    <div class="photo">         
        <a href="/item/~~$view->itemId~">
            <img src="~~$view->srcImage~" title="~~$view->originalName~"  alt="~~$view->originalName~"/>
        </a> 
    </div>
    
</div>


   
