<div class="stamp">
    <div class="photo">         
        <a href="/item/~~$view->itemId~">
            <img src="~~$view->srcImage~" alt="~~$view->title~"/>
        </a> 
    </div>
    
</div>


   
