<div class="widget">
    <div class="photo">
            <a href="/item/~~$view->itemId~"> <img src="~~$view->thumbnail~" width="~~$view->twidth~" height="~~$view->theight~" class="alignleft" alt="~~$view->title~"/> </a>

        </div>
        <p> ~~$view->description~ </p>
        <p> <span>~~$view->createdOn~ </span> </p>

        <div class="options">
                <div class="links">
                ~if($view->hasEdit){~
                    <a href="~~$view->editUrl~"><i class="icon-edit"></i>&nbsp;Edit</a>
                ~}~
                &nbsp;
                ~if($view->hasDelete){~
                    <a href="~~$view->deleteUrl~"><i class="icon-remove"></i>&nbsp;Delete</a>
                ~}~
            </div>
        </div>

</div>
