<div class="widget">
   
	<div class="row">
		<div class="span7">
			<p> ~~$view->description~  &nbsp; <a href="/item/~~$view->itemId~">more&rarr;</a> </p>
           
            <div class="options">
                <div class="links">
                    <a href="/qa/edit.php?id=~~$view->itemId~"><i class="icon-edit"></i>&nbsp;Edit</a>
                    &nbsp;|&nbsp;
                    <a href="/qa/delete.php?id=~~$view->itemId~"><i class="icon-remove"></i>&nbsp;Delete</a>
                </div>
            </div>
		</div> <!-- span7 -->
		<div class="span2">
			<div class="author p10">
				<div class="meta">
					<span class="b">~~$view->createdOn~</span>
				</div>	
				
			</div>
			
		</div> <!-- span2 -->
	</div> <!-- row -->
    

</div>

