
<div class="tile">
   <div class="photo">
        <img src="/css/asset/sc/item_deleted.png" alt="~~$view->itemId~" />
    </div>

   <div class="description">
    <span class="faded-text"> item ~~$view->itemId~ has been deleted </span>
   </div>
       
</div>