 <div class="item-panel">
    <label class="label label-warning">Total &nbsp;~~$view->total~ </label> 
    <br>
    <div class="mt20"> 
        Add &nbsp;(separate multiple entries by comma) 
        <br> <br>
        <input id="new-item-box" name="new-item" value="" />
        <button id="add-item-btn" type="button" class="btn gBtnUp" value="Add">Add&nbsp;</button> 
        <div class="p10">
            <a href="" id="check-all-items">check all</a>
            &nbsp;|&nbsp; <a href="" id="uncheck-all-items">uncheck all</a>
        </div>

    </div>

    <div id="item-preview"> 

        <div class="clear"> </div>
        <div class="section"> </div>
        ~for($i = 0 ; ($i < $view->total) ; $i++) {~
            <div class="item">
                 <input type="checkbox" name="g[]" value="~~$view->records[$i]['slug']~" ~~$view->records[$i]['checked']~  />~~$view->records[$i]['name']~
             </div>

        ~}~
    </div> <!-- preview -->

</div> <!-- panel -->
<div class="clear"> </div>
