 <div class="group-panel">
    <b>Groups</b>&nbsp;
    <div class="box"> 
        Add Group 
        <input id="group-box" name="new-group" value="" />
        <button id="add-group-btn" type="button" class="btn" value="Add"><i class="icon-tags"> </i>&nbsp;Add</button> 
        &nbsp; <a href="" id="check-all-groups">check all</a>
        |&nbsp; <a href="" id="uncheck-all-groups">uncheck all</a>
    </div>

    <div class="wrapper"> 
        <!-- first panel for new items -->
        <div class="groups">
            <b>New </b>
            <ul class="unstyled">

            </ul>
        </div>
            

        <!-- rest of panels -->
        ~for($count = 1 ; $count < ($view->total +1) ; $count = $count + $view->step ) {~
            <div class="groups">
                <ul class="unstyled">
                ~for($i = $count ; (($i < $count+ $view->step) && ($i < $view->total)) ; $i++) {~
                    <li> <input type="checkbox" name="g[]" value="~~$view->records[$i]['slug']~" ~~$view->records[$i]['checked']~  />~~$view->records[$i]['name']~</li>
                ~}~
                </ul>
            </div>
           ~}~ 
    </div> <!-- wrapper -->
</div> <!-- panel -->
