<div class="widget">
    <div class="options">
        <div class="links">
            <a href="~~$view->editUrl~"><i class="icon-edit"></i> Edit</a>
            &nbsp;|&nbsp;
            <a href="~~$view->deleteUrl~"><i class="icon-trash"></i> Delete</a>
            ~if($view->feature){~
                &nbsp;|&nbsp;
                <a id="~~$view->id~" class ="feature-post" href=""> Feature</a>
            ~}~
            ~if($view->unfeature){~
                &nbsp;|&nbsp;
                <a id="~~$view->id~" class ="unfeature-post" href=""> Unfeature</a>
            ~}~
             

        </div>
    </div> <!-- options -->

    <div class="row">
        
        <div class="span5">
            <h5> <a href="/item/~~$view->itemId~">~~$view->title~</a> </h5>
           
            <div class="description">
                <div id="fps-~~$view->id~">
                    ~if($view->unfeature){~
                     <span class="badge">F</span>
                    ~}~
                </div>
                <p> ~~$view->description~ </p>
                <p> <span>~~$view->createdOn~ </span> </p>
            </div> 

            <div class="p5">
                ~if($view->hasGroups){
                    foreach($view->groups as $group){~
                    <a class="label" href="/group/~~$group["slug"]~">~~$group["display"]~</a>&nbsp;
                ~}}~
            </div>

        </div>
        <div class="span2"> 
           &nbsp;
        </div>

    </div> <!-- widget:row -->

</div> <!-- widget -->

