<div class="widget separator1">
    <p>
        <i class="icon-asterisk"></i>&nbsp;
        ~~$view->description~
        <br/>
        <span class="ml20">
            ~~$view->createdOn~
            &nbsp; <a href="/item/~~$view->itemId~">more...</a>
        </span>

    </p>


    <div class="options">
        <div class="links">
            <a href="~~$view->editUrl~">Edit</a>
            &nbsp;|&nbsp;
            <a href="~~$view->deleteUrl~">Delete</a>
            ~if($view->feature){~
                &nbsp;|&nbsp;
                <a id="~~$view->id~" class ="feature-post-link" href="">Feature</a>&nbsp;
            ~}~
            ~if($view->unfeature){~
                &nbsp;|&nbsp;
                <a id="~~$view->id~" class ="unfeature-post-link" href="">Unfeature</a>&nbsp;
            ~}~

        </div>
    </div>

</div>

