<div id="pubuser">
    <img class="avatar"  src="~~$view->data['photo_url']~" alt ="~~$view->data['name']~" />

    <h3>~~$view->data['name']~</h3>

    <div class="section">
        <a href="" id="~~$view->followerId~|~~$view->followingId~" class="btn follow-user">Follow user</a>
        <p class="about-me"> ~~$view->data['about_me']~ </p>
    </div>
    <div class="section">
        <ul class="unstyled">
            ~foreach($view->columns as $key){ ~
                <li class="header"> ~~$view->labels[$key]~ </li>
                <li class="data"> ~~$view->data[$key]~ </li>
            ~}~

        </ul>

    </div>
    <div>
        <div class="feeds"> ~~$view->feedHtml~ </div>
    </div>

</div>
