<div class="uwidget">
        <div class="wrapper">
            <div class="photo">
                <img src="~~$view->photoUrl~" />
            </div>
            <div class="detail">
                <div class="name">
                    <span class="title">~~$view->name~</span>
                    <p>~~$view->aboutMe~</p>
                </div>
                <div class="link">
                    <a class="btn btn-small follow-user" href="" id="~~$view->followerId~|~~$view->followingId~">Follow</a>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
        
    <div class="bottom ml20">

       <dl class="dl-horizontal">
            <dt>Location</dt>
            <dd>~~$view->location~ </dd>
            
            <dt>Blog</li>
            <dd> 
                <a href="~~$view->blog~" class="b" target="_blank">~~$view->blog~</a> 
            </dd>
           
            <dt>Website</dt>
            <dd> 
                <a href="~~$view->website~" class="b" target="_blank">~~$view->website~</a>  
            </dd>
           

       </dl>
    </div>
    
    
</div>
