
    <div class="widget">
        <div class="photo"> <img src="~~$view->data['photo_url']~" alt ="~~$view->data['name']~" /> </div>
    </div>
    <h3>~~$view->data['name']~</h3>

    <div class="description">
            ~~$view->data['about_me']~
    </div>
    <br/>
    <div class="hr"> </div>
    
    <div>
        ~if(empty($view->followerId)) {~
            <a href="/user/login.php?q=~~$view->publicUrl~">login</a> to follow this user.
        ~ } else { ~
        <div class="pt10">
            <a href="" id="~~$view->followerId~|~~$view->followingId~" class="btn btn-primary follow-user-link">Follow</a>
            <br/>
        </div>
        ~ } ~
        <div class="mt20">
            <ul class="unstyled">
            ~foreach($view->columns as $key){ ~
                <li> ~~$view->labels[$key]~ </li>
                <li> ~~$view->data[$key]~ </li>
            ~}~

            </ul>

        </div>
    </div>
    <div class="feeds mt10">
        ~~$view->feedHtml~
    </div>
