<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Profile</th>
      <th>Location</th>
      <th>createdOn</th>
    </tr>
  </thead>
  <tbody>
    ~foreach($view->rows as $row){ ~
    <tr>
      <td>~~$row["provider"]~</td>
      <td>~~$row["name"]~</td>
      <td>~~$row["email"]~</td>
      <td><a href="~~$row["website"]~" target="_blank">~~$row["website"]~</a></td>
      <td><a href="~~$row["pubUrl"]~" target="_blank">&rArr;</a></td>
      <td>~~$row["location"]~</td>
      <td>~~$row["created_on"]~</td>
    </tr>
    

    ~}~
  </tbody>
</table>
