<div class="widget">
    <div class="options">
        <div class="links">
            <a id="~~$view["id"]~" href="#" class="ban-user">Ban user</a>
            &nbsp;|&nbsp;
            <a id="~~$view["id"]~" href="#" class="taint-user">Taint user</a>
             
        </div>
    </div> <!-- options -->

  <div class="comment-text">
      ~if($view["last24hr"]){~
        <span class="label label-important">Last 24HR</span>
        &nbsp;
      ~}~

      <span> ~~$view["pubId"]~ </span> &nbsp;
      <span class="b"> ~~$view["provider"]~ </span> 
      <br>

      ~~$view["name"]~ &nbsp;
      (<a href="mailto:~~$view["email"]~">~~$view["email"]~</a>) &nbsp;
      ~~$view["location"]~ 
      <br> 
     
      <span class="faded-text"> 
        <a href="/pub/user/~~$view["pubId"]~" target="_blank">3mik page&nbsp;</a> 
        &nbsp; ~~$view["createdOn"]~ 
      </span>
      
      <span> <a href="~~$view["website"]~" target="_blank">~~$view["website"]~</a> </span> 
  </div>
</div>
    