<div class="widget p10">
  <span class=""> ~~$view["pubId"]~ </span> 
  &nbsp;
  <span class="label"> ~~$view["provider"]~ </span> 
  <div>
      ~~$view["name"]~ &nbsp;
      (<a href="mailto:~~$view["email"]~">~~$view["email"]~</a>) &nbsp;
      ~~$view["location"]~ 
  </div> 
 
  <div class="faded-text"> 
    <a href="/pub/user/~~$view["pubId"]~" target="_blank">3mik page&nbsp;&rArr;</a> &nbsp;
    ~~$view["createdOn"]~ 
  </div>

  <span> <a href="~~$view["website"]~" target="_blank">~~$view["website"]~</a> </span> 
</div>
    