<div class="section">
  <i class="icon icon-th"> </i>
  &nbsp;&nbsp;
  ~if($view["last24hr"]){~
    <span class="label label-important">Last 24HR</span>
    &nbsp;&nbsp;
  ~}~

  <span> ~~$view["pubId"]~ </span> 
  &nbsp;&nbsp;
  <span class="b"> ~~$view["provider"]~ </span> 

  <div class="p5">
      ~~$view["name"]~ &nbsp;
      (<a href="mailto:~~$view["email"]~">~~$view["email"]~</a>) &nbsp;
      ~~$view["location"]~ 
  </div> 
 
  <div class="faded-text"> 
    <a href="/pub/user/~~$view["pubId"]~" target="_blank">3mik page&nbsp;</a> 
    &nbsp; ~~$view["createdOn"]~ 
  </div>

  <span> <a href="~~$view["website"]~" target="_blank">~~$view["website"]~</a> </span> 
</div>
    