<div class="list-summary">
    <div class="row">
        <a href="/pub/list/~~$view->pseudoId~/~~$view->seoName~">
            <div class="span4">
                <div class="nophoto">
                &nbsp;
                </div>
            </div>
        </a>
        <div class="span3">
            <div class="name">
                <a href="/pub/list/~~$view->pseudoId~/~~$view->seoName~">
                    ~~$view->name~
                </a>
            </div>
            <div class="flickr-color b">
                ~~$view->count~ items
            </div>
        </div>

    </div>

</div>

