<div class="widget pt10">
    <div class="row">
        <div class="span1">
            <input type="checkbox" id="~~$view->itemId~" name="g[]" value="~~$view->id~" />
        </div>
        <div class="span5">
            <span class="faded-text">  item ~~$view->itemId~ has been deleted </span>
            <i class="icon icon-flag"> </i>
          
        </div>
        <div class="span2">
            <img src="/css/asset/sc/item_deleted.png" alt="~~$view->itemId~" />
        </div>

    </div> <!-- widget:row -->

</div>