<div class="stack card ~~$view->class~">
    <ul>
        ~foreach($view->groups as $group) {~
        <li class="link"> <a href="/group/~~$group['token']~"><span class="name">~~$group['name']~</span></a> </li>
        ~ }~
    </ul>
</div>
