<div class="stack card~~$view->card~">
    <ul>
        ~foreach($view->groups as $group) {~
        <li class="item"> <a href="/group/~~$group['token']~"><span class="name">~~$group['name']~</span></a> </li>
        ~ }~
    </ul>
</div>
