<div class="box">
    <span class="title">~~$view->name~</span>
    <div class="photo">
        <img src="~~$view->srcImage~" />
    </div>
    <div class="p5">
        <a class="btn btn-mini unfollow-user" href="" id="~~$view->followerId~|~~$view->followingId~">unfollow</a>
    </div>

</div>
