<h5 class="flickr-color">Followers</h5>
<table class="table table-condensed">
  <thead>
     
  </thead>
  <tbody>
    
    ~foreach($view->records as $record){~
    <tr>
      <td><b> <a href="~~$record['pubUserUrl']~" target="_blank"> ~~$record['name']~ </a> </b></td>
      <td> 
        <a href="" id="~~$record['followerId']~|~~$record['followingId']~" class="b faded-text follow-user">Follow &raquo;</a>
     </td>
      
    </tr>
    

    ~}~
  </tbody>
</table>
<div class="section">
  <a href="/user/dashboard/follower.php" class="b">see all your followers &rarr;</a>
</div>
