<div class="widget">
      <div class="options">
        <div class="links">
            <a id="~~$view->itemId~" class ="remove-post-link" href="">Remove&nbsp;<i class="icon-remove"></i></a> &nbsp;
        </div>
    </div>

    <div class="photo">
            <a href="/item/~~$view->itemId~"> <img src="~~$view->thumbnail~" width="~~$view->twidth~" height="~~$view->theight~" class="alignleft" alt="~~$view->title~"/> </a>

    </div>
    <p> ~~$view->description~ </p>
    <p> <span>~~$view->createdOn~ </span> </p>

  

</div>
