<div class="widget">
    <div class="options">
        <div class="links">
            <a id="~~$view->itemId~" class ="unsave-post" href=""><i class="icon-remove"></i>&nbsp;Remove item</a>
        </div>
    </div>
    <div class="row">
        
        <div class="span5">
            <h5> <a href="/item/~~$view->itemId~">~~$view->title~</a> </h5>
            <div class="p5">
                ~if($view->hasGroups){
                    foreach($view->groups as $group){~
                    <a class="label" href="/group/~~$group["slug"]~">~~$group["display"]~</a>&nbsp;
                ~}}~
            </div>
    
            <div class="p5">~~$view->createdOn~ </div>

        </div>
        <div class="span2"> 
             <a href="/item/~~$view->itemId~"> <img src="~~$view->thumbnail~" width="~~$view->twidth~" height="~~$view->theight~" alt="~~$view->title~"/> </a>
        </div>

    </div> <!-- widget:row -->

</div> <!-- widget -->
