<div class="widget">
    <p> ~~$view->description~ </p>
    <p> <span>~~$view->createdOn~ </span> </p>

    <div class="options">
        <div class="links">
            <a id="~~$view->itemId~" class ="remove-post-link" href="">Remove&nbsp;<i class="icon-remove"></i></a> &nbsp;
        </div>
    </div>

</div>
