
<div class="doc-table mt20">
	<div class="row">
		<div class="span3">
			<div id="xeyes">
				<div class="eye">
					<div class="iris"></div>
				</div>
				<div class="eye">
					<div class="iris"></div>
				</div>
			</div>	
		</div>

		<div class="span9">
		   <table class="doc-table">
				<tr>
					<td> <b>Name</b> </td>
					<td>~~$view->name~</td>
				</tr>
			   
				<tr>
					<td><b>Email</b></td>
					<td>~~$view->email~</td>
				</tr>
				<tr>
					<td><b>Created On</b> </td>
					<td>~~$view->createdOn~</td>
				</tr>
				
		   </table>
		</div>
	</div> <!-- row -->
</div>

<div class="p10">
	<span> <a  class="btn" href="/user/profile/edit.php">Edit profile</a> </span>
	&nbsp;
	<span> <a class="btn" href="/user/profile/password.php">Change password</a> </span>
</div>


