<div class="uwidget">
    <div class="wrapper">
        <div class="photo">
            <img src="~~$view->photoUrl~"  />
        </div>
        <div class="clear"> </div>
    </div>
        
    <div class="bottom">
        <strong> ~~$view->name~</strong>
    </div>
    
    
</div>
