
<div class="doc-table mt20">
	<div class="row">
		<div class="span3">
			<div id="xeyes">
				<div class="eye">
					<div class="iris"></div>
				</div>
				<div class="eye">
					<div class="iris"></div>
				</div>
			</div>	
		</div>
		<div class="span9">
		   <table class="doc-table">
				<tr> <td> <b>facebook user</b> </td> </tr>
				<tr> <td>~~$view->name~</td> </tr>
				<tr> <td>~~$view->email~</td> </tr>
				<tr> <td>~~$view->createdOn~</td> </tr>
				
		   </table>
		</div>
	</div> <!-- row -->
</div>
