       ~if($view->xeyes) {~
        <div id="xeyes">
            <div class="eye">
                <div class="iris"></div>
            </div>
            <div class="eye">
                <div class="iris"></div>
            </div>
        </div> <!-- xeyes -->
        ~} else { ~
            <div class="widget">
                <div class="photo">
                    <img src="~~$view->photoUrl~" alt="~~$view->name~" />
              </div>
            </div>
        ~}~
