
<div class="p10">
    <div class="photo"> <img src="~~$view->photoUrl~" alt="~~$view->name~" class="img-polaroid"/> </div>
</div>

<div class="p10">
    <h4>About me </h4>
    <p class="text-info">~~$view->aboutMe~</p>
</div>


<div class="section">
    <table class="table table-condensed">
        <tr> <td>Real name</td> <td>~~$view->name~</td> </tr>
        <tr> <td>Nick name</td> <td>~~$view->nickName~</td> </tr>
        <tr> <td>Email</td> <td>~~$view->email~</td> </tr>
        <tr> <td>Website</td> <td>~~$view->website~</td> </tr>
        <tr> <td>Blog</td> <td>~~$view->blog~</td> </tr>
        <tr> <td>Location</td> <td>~~$view->location~</td> </tr>
        <tr> <td>Age</td> <td> ~~$view->age~</td> </tr>
        <tr> <td>Created on</td> <td>~~$view->createdOn~</td> </tr>
    </table>
</div>

<div class="section">
     <a class="btn" href="~~$view->editUrl~">Edit profile</a> 
 </div>



