<div class="row">
    <div class="span4">
        ~if($view->xeyes) {~
        <div id="xeyes">
            <div class="eye">
                <div class="iris"></div>
            </div>
            <div class="eye">
                <div class="iris"></div>
            </div>
        </div> <!-- xeyes -->
        ~} else { ~
        <div class="widget">
            <div class="photo">
                <img src="~~$view->photoUrl~" alt="~~$view->name~" />
            </div>

        </div>
        ~}~
    </div>
    <div class="span5">
        <div class="">
            <h3>About me </h3>
            <p> ~~$view->aboutMe~ </p>

        </div>

    </div>

</div> <!-- nested row -->
    
<div class="p10">
	<span> <a href="~~$view->editUrl~">Edit profile</a> </span>
	&nbsp;|&nbsp;
	<span> <a href="~~$view->passwordUrl~">Change password</a> </span>
</div>

<div class="row">
    <div class="span6 p20">
        <table class="table table-condensed">
            <tr> <td>Real name</td> <td>~~$view->name~</td> </tr>
            <tr> <td>Nick name</td> <td>~~$view->nickName~</td> </tr>
            <tr> <td>Email</td> <td>~~$view->email~</td> </tr>
            <tr> <td>Website</td> <td>~~$view->website~</td> </tr>
            <tr> <td>Blog</td> <td>~~$view->blog~</td> </tr>
            <tr> <td>Location</td> <td>~~$view->location~</td> </tr>
            <tr> <td>Age</td> <td> ~~$view->age~</td> </tr>
            <tr> <td>Created on</td> <td>~~$view->createdOn~</td> </tr>
        </table>
    </div>

</div> <!-- nested row -->
  


