
<div class="counters">          
    <a href="/user/dashboard/posts.php">
        <div class="stack counter">            
            <span class="name">My items</span>
            <span class="value">~~$view->posts~</span>
        </div>
    </a>


    <a href="/user/dashboard/comments.php">
        <div class="stack counter">            
            <span class="name">Comments</span>
            <span class="value">~~$view->comments~</span>
        </div>
    </a>


    <a href="/user/dashboard/list/index.php">
        <div class="stack counter">            
            <span class="name">Lists</span>
            <span class="value">~~$view->lists~</span>
        </div>
    </a>

    <a href="/user/dashboard/bookmark.php">
        <div class="stack counter">            
            <span class="name">Likes</span>
            <span class="value">~~$view->likes~</span>
        </div>
    </a>
    
    <a href="/user/dashboard/follower.php">
        <div class="stack counter">            
            <span class="name">Followers</span>
            <span class="value">~~$view->followers~</span>
        </div>
    </a>


    <a href="/user/dashboard/following.php">
        <div class="stack counter">            
            <span class="name">Following</span>
            <span class="value">~~$view->following~</span>
        </div>
    </a>



    <a href="/user/dashboard/mails.php">
        <div class="stack counter metro-blue">            
            <span class="name">Mail preference</span>
            <span class="value">&nbsp;</span>
        </div>
    </a>


    <a href="/user/dashboard/profile.php">
     <div class="stack counter metro-blue">            
      <span class="name">Profile</span>
      <span class="value">&nbsp;</span>
    </div>
    </a>
</div>

