Hello ~~$view->name~

    * Here is an update from 3mik *
------------------------------------

    ~~$view->content~

-----------------------------------

Please update your email preferences on account settings page
If you don't want to receive activity notification mails from 3mik.

    - The 3mik Team
