Forgot your password, ~~$view->name~ ?

3mik received a request to reset the password for your account.

If you want to reset your password, click on the link below (or copy and paste the URL into your browser):
~~$view->url~

This link takes you to a page where you can change your password. 

If you don't want to reset your password, please ignore this message. Your password will not be reset. If you have any concerns, please contact us.

The 3mik Team
