	@charset "utf-8";
	
	/* Global resets */
	
	html, html#nojs {
		height: 100%;
	}
	
	html#js {
		height: 100%;
	}
	
	body {
		font-size: 13px;	
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif ;
		min-height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		background : #FFFFFF ;
	}
	
	.dark-body{
		background-color:#E9E9E9;
	}
	
	a {
		color: #2288cc;
		text-decoration:none;
	}
	
	a img {
		border: 0;
	}
	
	a:hover {text-decoration:underline;}
	
	
	form {
		margin: 0;
		padding: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		margin: 0 0 1em;
		padding: 0;
	}
	
	input, select, textarea {
		font-family: inherit;
		font-size: inherit;
		margin: 0;
	}
	
	p {
		margin: 0 0 1em 0;
		padding: 0;
	}
	
	
	/* + Common classes */
	
	.error {
		color: #ff0000;	
	}
	
	.no-border {
		border: 0 !important;
	}
	
	div.hr {
		font-size: 1px;
		height: 1px;
		line-height: 1px;
		background: #a1a1a1;
	}
	
	.clear {clear:both;}
	.floatl {float:left;}
	.floatr {float:right;}
	
	.color-red {color:#f80813;}
	.red-label {color:red;}
	.color-green {color:#88cc44;}
	
	/* gray is #D3D3D3 and grey is #808080 */
	
	.grey {color:#808080;}
	
	.w200 {width:200px; }
	.f13 {font-size :13px;}
	.mt20 {margin-top :20px; }
	
	.ml20 {margin-left :20px; }
	.ml40 {margin-left :40px; }
	
	.b {font-weight : bold ;}
	.gray {color : gray; }
	.pt10 {padding-top:10px;}
	.p10 {padding:10px;}
	.p20 {padding:20px;}
	
	.bbd5 {
		border-bottom : 1px solid #E9E9E9 ;
	}
	.thick-dashed-border {
		border-bottom : 2px dashed black ;
	}
	
	#header {
		padding: 10px;
		color:#FFF;
	}
	
	#header h3 {
		color: #FFFFFF;
		font-size:36px;
	}
	
	#header h3 a {
		color: #FFFFFF ;
		text-decoration : none;
	}
	
	#content {
		padding-top:10px;
		min-height : 600px;
	}
	
	/* + Footer */
	
	.f-content {
		text-align:right;
		width: 960px;
		margin: 0 auto;
	}
	
	#copyright {
		color:#777777;
		font-size: 10px;
	}
	#social a {
		background: url("images/social.png") no-repeat scroll 0 0 transparent;
		display: block;
		float: left;
		height: 18px;
		margin: 0 3px;
		width: 18px;
	}
	#social .yt {
		background-position: 0 -18px;
	}
	#social .fb {
		background-position: 0 -36px;
	}
	
	#footer {
		background:#000000;
		padding:16px 0 6px;
		font-family: Arial, Helvetica, sans-serif;
		color: #bfbebe;
		margin-top:28px;
	}
	
	
	#f-menu {}
	#f-menu ul {
		list-style:none;
		margin:8px 0 0;
		padding:0;
		font-size:14px;
	}
	#f-menu ul li {
		display:inline;
	}
	#f-menu ul li a {
		color:#dbdada;
		font-weight:bold;
		margin:0 7px;
	}
	
	
	/* + custom web forms stuff */
	
	div #form-wrapper {
		margin-left: 20px;
	}
	
	.form-table {
		padding:10px;
		margin-top : 20px;
		margin-bottom: 20px;
		font-size:13px;
	}
	
	.form-table  input{
		word-spacing: 1px;
		line-height: 1.8em;
		color: #333;
		border: 1px solid #bbb;
		width: 400px;
		height: 22px;
		padding-top:4px;
	
	}
	
	.form-table  textarea{
		word-spacing: 1px;
		line-height: 1.8em;
		color: #333;
		border: 1px solid #ccc;
		width: 400px;
		height :310px;
		padding-top:10px
	}
	
	
	.form-table .w200{width: 200px; }
	.form-table .w280{width: 280px; }
	.form-table .w500{width: 500px; }
	.form-table .w580{ width: 580px;}
	.form-table .w780{ width: 780px;}
	.form-table .w80{ width: 80px;}
	.form-table .h130{ height: 130px;}
	.form-table .h280{ height: 280px;}
	.form-table .h430{ height: 430px;}
	
	
	div .form-error {
		margin-bottom: 10px;
		margin-top: 10px;
		color : red ;
	}
	
	div .form-message {
		margin-bottom: 10px;
		margin-top: 10px;
		color : green ;
	}
	
	div .error label {
		width: 500px;
		text-align: left;
		display: block;
		margin-left: 10px;
		color:red ;
	}
	
	
	/* ----- sc app styles ------ */
	
	
	.author{
		padding: 7px 0px 7px 0px ;
		font-size : 12px;
        /* border-bottom : 1px solid #E8E7E3; */
	}

	/* 100 percent big orange button */
	div .orange-button {
		margin-bottom:10px;
		margin-top:20px;
		background-color:#FF7906;
		color:#FFFFFF;
		
		padding:7px 20px;
		border-radius:5px;
		text-decoration:none;
		text-align:center;
	
	}
	
	div .orange-button a {
		 color:#FFFFFF;
		 font-size:13px;
		 font-weight:bold;
		 text-align:center;
	
	}
	
	div .grey-button {
		margin-bottom:5px;
		background-color:#E9E9E9;
		color:#FFFFFF;
		padding:5px 10px;
		border-radius:5px;
		text-decoration:none;
		text-align:center;
		line-height:18px;
		font-size:12px;
	
	}
	
	div .grey-button a {
		 color:black;
		 font-weight:bold;
		 text-align:center;
	
	}
	
	/* +widgets */
	
	.widget {
		margin-top:10px;
		margin-bottom: 10px;
		width: 100%;
		clear: both;
	}
	
	.widget h2 {
		font-weight:normal;
		font-family: 'Georgia','Lucida Grande','Verdana','Arial','Sans-Serif';
		color: #21759B;
		font-size: 16px;
		margin: 0px 0px 10px 0px;
		line-height:1;
		text-align: left;
	}
	
	.widget h2 a {
		color: #005689;
		text-decoration: none;
	}
	
	.widget h3{
		font-weight: bold;
	}
	
	.widget h4{
		font-weight: bold;
		font-size:12px;
	}
	
	.widget .photo {
		padding: 10px;
		background-color: #fff;
	   
	}
	
	
	/* Any photo inside a widget can only go till 90%  */
	.widget img {
		max-width : 90% ;
	}
	
	.widget .photo img {
		max-width:90%;
		border:6px solid #d5d5d5;
		
	}
	
	/* image and video alignment */
	
	img.alignright {float:right; margin:0 0 1em 1em}
	img.alignleft {float:left; margin:0 1em 1em 0}
	img.aligncenter {display: block; margin-left: auto; margin-right: auto}
	
	.video .alignright {float:right; margin:0 0 1em 1em}
	.video .alignleft {float:left; margin:0 1em 1em 0}
	.video .aligncenter {display: block; margin-left: auto; margin-right: auto}
	
	.widget .embedCode { margin:10px;}
	
	.widget .photo .caption {
		font-size:        13px;
		margin-top:       17px;
	}
	
	.widget .photo .caption a {
		color: #222;
	}
	
	.widget .video{
		width: 100%;
	}
	
	.widget a{
		text-decoration: none;
	}
	.widget a:hover{ 
        text-decoration:underline 
    }
	
	/* Regular Post */
	.widget .regular {
		font-size:        13px;
		line-height:      18px;
		text-align: left;
		color: #3A3A3A;
	}
	.edit-bar .widget .regular,
	.edit-bar div.grid{
		border-left:1px solid #E7E7E7;
		border-right:1px solid #E7E7E7;
		padding: 9px 9px 0;
		background: none;
	}
	.widget .regular p{
		margin-bottom: 5px;
		text-indent :20px;
		text-align :justify ;
		/* for a very long single word use word-wrap trick */
		/* word-wrap: break-word; */
	}
	.widget .regular strong{
		font-weight: bold;
	}
	.widget div.regular ul{
		width:81%;
	}
	.widget div.regular ul  li{
		list-style-image:  url('images/text_li_bg.gif');
		margin-left:23px;
		padding:0 0 10px 0px;
	}
	
	/* @todo div regular style for text ol li */
	
	.widget div.regular ol  li{
		list-style:decimal; 
		margin-left:27px;
		padding:0 0 10px 0px;
	
	}
	
	.widget .regular blockquote {
		font-style:       italic;
	}
	
	.widget .external-link {
		
		background-color:#FF7906;
		color:#FFFFFF;
		padding:3px;
		font-size:12px;
		font-weight :bold;
		text-decoration:none;
		text-align:center;
		
	}
	
	.tags {
		font-size: 13px;
		font-family : arial,sans-serif,serif;
		padding:10px 0px 20px 10px;
		color:#AAA;
	}
	
	/* +fancybox stuff */
	.fancybox-container {
		display: none ;
	}
	
	.fancybox-container input {
		width:400px;
	}
	
	
	/* + link and image previews */
	
	.hide-me {
		display:none ;
	}
	div#link-data {
	
	}
	
	div#media-data {
	
	}
	
	div#link-container {
		   
		background-color:#f0fff0;
		width:460px;
		margin-bottom :20px;
		padding:20px;
		
	}
	
	div#link-container input{
		word-spacing: 1px;
		line-height: 1.8em;
		color: #333;
		border: 1px solid #bbb;
		width: 330px;
		height: 24px;
		padding-top:4px;
	}
	
	
	.black-button {
		background-color:black;
		color:#FFFFFF !important;
		text-align :center ;
		border-radius:5px;
		text-decoration:none;
		font-weight: bold;
		cursor: pointer;
	}
	
	div#image-container{
		   margin-bottom:10px;
		   padding:10px;
		   background-color:#f0fff0;
		   width:480px;
	}
	
	#form-wrapper #divstatus{
		   padding:5px;
	}
	
	#link-data {
		   margin-top:20px;
	}
	
	#media-data {
		   width: 580px;
	}
	
	div .stackImage{
		   position :relative ;
		   float : left;
		   padding:7px;
		   height:160px;
		   width:200px;
		   border:1px solid #DDD ;
		   margin :2px;
	}
		
	.thumbnail-1 {
		width: auto;
		height: auto;
		max-width: 180px; 
		max-height: 135px; 
		margin-bottom : 5px;
	}

	div .previewLink{
		padding:5px;
		width:500px;
	}
	
	.highlight {
		padding:10px;
		background-color:#FFF1A8;
	}
	
   
	#site-search{
		margin-top:5px;
		height:20px;
		width:280px;
	}
	
	/* + homepage tiles */
	div #tiles{
		/* background-color:#E9E9E9; */
	}
	
	.tile {
		width:210px;
		margin:2px;
		border:1px solid #DEDEDE ;
		float:left ;
		padding:8px;
		background-color: #fff;
		border-radius :2px;
        /* position:relative ; */
	}

    .tile .options {
        position:absolute ;
        overflow:hidden ;
        z-index:100;
        display:none ;
        background-color:white;
        margin:0px;
        padding:0px;
        top:0px;
        left:0px;
        height:30px;
        width:100%;
    }

    .tile .options .links {
        padding : 5px 5px 10px 30px;
        font-size:11px;
        line-height:16px;
    }

    .tile .options .links a {
        color : #777;
    }

	.tile .photo {
		padding:3px;
	}
	
	.tile .photo img {
		max-width:190px;
		/* border:5px solid #d5d5d5; */
		margin :0px;
	}
    
	.mh800 {
		min-height:800px;
	}

	.doc-table td {
		vertical-align:top;
		padding: 3px 20px 3px 0px;

	}	

	.author img { 
		float:left; 
		padding:0px 10px 0px 0px;
	}	

	.author .meta {
		padding:0px;
		margin:0px;
	}

	.beta {
		vertical-align: sub ;
		font-size:11px;
	}

	.vertical{
		width:1em;
		text-transform:uppercase;
		letter-spacing :40px; /* arbitrary letter spacing for vertical */
	}

	.vertical a {
		text-decoration : none;
		color: white;
		color: black;

	}
        
	#feedback{
		position:fixed;
		top:200px;
		right:0px;
		/* background-color:orange; */
		background-color:#333;
		background-color:#B94A48;
		background-color:#F89406;
		padding:5px;
		font-size:14px;
		font-weight:bold;
	}

	.twitter-login {
		padding:5px 10px 5px 20px;
		background:#59C9ED;
		border-radius :8px;
        margin-top:20px; 
		width:140px;
		
	}
    .twitter-login img {
        float:right ;
    }
	
	.facebook-login {
		padding:5px 10px 5px 20px;
		background:#3B5998 ;
		border-radius :8px;
        margin-top:20px; 
		width:140px;
	}
	
	.facebook-login a {
		color: white ;
        font-weight:bold;
	}
	
	.twitter-login a {
		color: white ;
        font-weight:bold;
	}

    #social-login-wrapper {
        padding:20px;
    }

    #mik-login-wrapper {
        padding:20px;
        border-right:1px solid black;
    }
	#xeyes {
		width: 218px;
	}

	.eye {
		width: 66px; 
		height: 90px; 
		background: #fff; 
		border-radius: 50%;
		border: 3px solid rgba(0,0,0,1); 
		float: left;
	}

	.iris {
		background: #000; 
		width:25px; 
		height:25px; 
		border-radius: 50%; 
	}

    
    .group-panel {
        /* display :none ; */
        width:500px;
        height: auto;
        line-height:18px;
        padding:0px;
        margin-bottom :10px;
        margin-top :10px;

    } 

    .group-panel .wrapper {
        padding:0px;

    }

    .group-panel .box {
        padding: 10px 10px 5px 20px;
        background : whiteSmoke;
        margin-bottom:1px;
    }
    .group-panel .wrapper .groups {
        padding: 10px 0px 5px 0px;
        width:160px;
        float:left ;
    }

    .group-panel input {
        width : auto ;
        height:16px;
        padding-top:2px;
    }

    .group-panel #group-box {
        width: 120px;
        height : 16px;
    }

    .group-panel #add-group-btn {
        width :70px;

    }

    .form-actions {
        background : #FFF ;
    }
    .tile .groups {
        color : #777 ;
        font-size:11px;
        line-height:16px;
    }

    /*
	.block {
		padding:10px;
		border:1px solid #a3a3a3;
		font-size :15px;
		min-height :160px;
		margin-bottom:10px;
	}
	
	.lightbg {
		background-color : #f0fff0;
		padding :20px;
		border-radius:10px;
	} */
 
    .block{
        border-bottom : 1px solid #E8E7E3; 
    }

    .block h3{
        font-size:18px;
        color:#211922;
    }

    /* override bootstrap css */
    .hero-unit {
        padding:30px;
        margin-bottom:10px;
    }
