
<div class="list-header">
	<div class="wrapper">
		<div class="user">
			<a href="~~$view->userPubUrl~">
				<div class="photo">
					<img src="~~$view->photoUrl~" alt="~~$view->userName~"/>
				</div>
				<div class="description">
					<a class="name" href="~~$view->userPubUrl~"> ~~$view->userName~ </a>
					<br>
					<span class="faded-text">created on ~~$view->createdOn~</span>
				</div>
			</a>
		</div>
	    <div class="title">
	    	<h3> ~~$view->name~ </h3>
	    	<p class="muted">~~$view->description~</p>
	    </div>
	    <div class="clear"> </div>
	</div>
	
</div>

<div class="toolbar">

</div>

      