
<div class="list-header">
	<div class="wrapper">
		<div class="user">
			<a href="~~$view->userPubUrl~">
				<div class="photo">
					<img src="~~$view->photoUrl~" alt="~~$view->userName~"/>
				</div>
				<div class="description">
					<a class="name" href="~~$view->userPubUrl~"> ~~$view->userName~ </a>
					<br>
					<span class="faded-text">created on ~~$view->createdOn~</span>
				</div>
			</a>
		</div>
	    <div class="item">
	    	<div class="title">~~$view->name~</div>
	    	<div class="pt10">
		    	<span class="badge badge-warning">
	                ~~$view->count~ items
	            </span>
	        </div>
	        
    		<p class="comment-text">~~$view->description~</p>
    	 
	    </div>
	    <div class="clear"> </div>
	</div>
	
</div>





      