<p> Hello, <strong>~~$view->name~</strong> </p>

<h3> Here is an update from 3mik </h3>

<div style="padding:20px">
    ~~$view->content~
</div>

<div style="padding:20px;">

    Please update your email preferences on account settings page
    If you don't want to receive activity notification mails from 3mik.
</div>

<br>

    - The 3mik Team
