<p> Hello ~~$view->name~ , welcome to 3mik! </p>
<br>
<p>
    3mik allows you to share and discover shopping information in India.
    Please feel free to browse, comment and upload your stuff.
    If you need any help, just send an email to  support@3mik.com
</p>
<br>
<p>
    Welcome again and thank you for joining the community.
</p>
<br>
<br>
Saurabh
<br>
Team 3mik