<p> Forgot your password, <strong>~~$view->name~</strong>?  </p>

<p>
3mik received a request to reset the password for your account.
<br>
<br>
If you want to reset your password, click on the link below (or copy and paste the URL into your browser):
<a href="~~$view->url~" target="_blank">~~$view->url~</a>
<br>
<br>
This link takes you to a page where you can change your password. 
</p>
<p>

If you don't want to reset your password, please ignore this message. Your password will not be reset. If you have any concerns, please contact us.
</p>
<br>
    - The 3mik Team
