
<div class="uwidget">
    <a href="~~$view->pubUserUrl~">
        <div class="wrapper">
            <div class="nophoto">
               &nbsp;
            </div>
             <div class="detail">
                <div class="name">
                    <span class="title">~~$view->name~</span>
                    <br>
                    <span class="b">~~$view->pubUserUrl~</span>
                </div>
                <div class="link">
                    <a class="btn btn-mini b" href="" id="~~$view->followerId~|~~$view->followingId~" class="unfollow-user">Unfollow</a>
                </div>

            </div>
            <div class="clear"> </div>
        </div>
    </a>

    

    <div class="bottom">
        <div class="square floatl">&nbsp;</div>
    </div>
    
</div>