
<table class="table table-condensed">
  <thead>
     
  </thead>
  <tbody>
    <tr>
      <td><b> Followers&nbsp;</b> </td>
      <td>&nbsp;</td>
      
    </tr>
    ~foreach($view->records as $record){~
    <tr>
      <td><b> <a href="~~$record['pubUserUrl']~" target="_blank"> ~~$record['name']~ </a> </b></td>
      <td> 
        <a href="" id="~~$record['followerId']~|~~$record['followingId']~" class="follow-user-link">Follow &raquo;</a>
     </td>
      
    </tr>
    

    ~}~
  </tbody>
</table>
