
<div class="feeds">
    ~foreach($view->rows as $row){~
        <div class="item">
            <div class="title">
                <i class="icon-asterisk"> </i>&nbsp;<a href="~~$row['subjectUrl']~">~~$row['subject']~</a>
                <span class="verb"> ~~$row['verb']~ </span>
                <a href="~~$row['objectUrl']~">~~$row['object']~</a>
            </div>
            <div class="body">

            </div>

        </div>

    ~}~
</div>