<div class="well">
	~~$view->description~
	<br>
	<div class="tags"> </div>

	<div class="author">
		<img src="/nuke/twitter-icon.png" height="32" width="32" alt="icon" /> 		
		<div class="meta">
			<span class="b"> <a href="/pub/user/~~$view->loginId~">~~$view->userName~</a></span>
			<br>
			<span class="b">~~$view->createdOn~</span>
		</div>	
	</div>
</div>

