
<div class="feeds">

  ~foreach($view->records as $record){~
  <div class="item">
          
    <div>
        <i class="icon icon-th"> </i>
        <a href="~~$record['pubUserUrl']~"><span class="faded-text" style="padding-left:10px">~~$record['name']~</span></a>
    </div>
    <div class="clear"> </div>
  </div>
  ~}~

</div>
