<div class="widget">
   ~~$view->comment~
   <div class="p5">
        &nbsp;<b><a href="/pub/user/~~$view->pubUserId~">~~$view->userName~</a></b>
        &nbsp;~~$view->createdOn~
    </div>

</div>
