
~foreach($view->records as $record) {~
<div class="item">
        <div>
            <span  class="b">~~$record['userName']~</span>
            <span class="faded-text">commented on &nbsp;~~$record['createdOn']~ </span>
           
        </div>
        <div class="message">
           ~~$record['comment']~
        </div>

</div>
~}~