
<div class="widget">
    <span class="b"><a href="/pub/user/~~$view->pubUserId~">~~$view->userName~</a></span>
    &nbsp;/&nbsp;<span class="b">~~$view->createdOn~</span>
    <br/>
   ~~$view->comment~
</div>

