
<a href="/user/dashboard/list/detail.php?list_id=~~$view->id~">
<div class="widget">
    <h5>~~$view->name~</h5>
    <div class="image-grid">
    ~foreach($view->items as $item){~
        <div class="box">
            <img src="~~$item->thumbnail~" />
        </div>
    ~}~

    </div>
    <div class="clear"> </div>
</div>
</a>
