
<div class="uwidget">
    <a href="~~$view->pubUserUrl~">
        <div class="wrapper">
            <div class="nophoto">
               &nbsp;
            </div>
            <div class="name">
                <span class="title">~~$view->name~</span>
                <br>
                <span class="b">~~$view->pubUserUrl~</span>
            </div>
        </div>
    </a>

    <div class="clear"> </div>

    <div class="bottom">

        <div class="square floatl">&nbsp;</div>
        <div class="link">
            <a class="btn btn-mini b" href="" id="~~$view->followerId~|~~$view->followingId~" class="follow-user">Follow</a>
        </div>
    </div>
    
</div>