<div class="well mt20">
    <div class="row">
        <div class="span5">
            ~~$view->description~
        </div>
        <div class="span2">
            <div class="author">
                <img src="/css/images/twitter-icon.png" height="32" width="32" alt="icon" />        
                <div class="meta">
                    <span class="b"> <a href="/pub/user/~~$view->pubUserId~">~~$view->userName~</a></span>
                    <br>
                    <!-- ~~$view->createdOn~ -->
                </div>  
            </div>
        </div>
    </div> <!-- row -->
</div>
