
    ~if($view->hasGroups) {~
    <div class="groups">
    Groups:
        ~foreach($view->groups as $group){~
            <a href="/group/~~$group['slug']~">~~$group['display']~</a>&nbsp;

        ~}~

    </div>
    ~}~

<div class="well">
	~~$view->description~
	<br>
	<div class="tags"> </div>

	<div class="author">
		<img src="/css/images/twitter-icon.png" height="32" width="32" alt="icon" /> 		
		<div class="meta">
			<span class="b"> <a href="/pub/user/~~$view->pubUserId~">~~$view->userName~</a></span>
			<br>
			<span class="b">~~$view->createdOn~</span>
		</div>	
	</div>
</div>


