
<div id="gallery">
    ~foreach($view->records as $record) {~
            <a class="gallery" rel ="group1" href="~~$record['source']~" > <img src="~~$record['thumbnail']~" alt="~~$record['title']~" width="~~$record['twidth']~" height="~~$record['theight']~"/></a>
    ~}~
</div>

<div class="info-bar">
    <i class="icon-zoom-in"> </i> click to view full size
</div>

