    <div class="item-groups">
        <div> <span class="label label-warning">Groups&nbsp;</span>&nbsp; </div>
        <br> 
        ~foreach($view->groups as $group){~
            <a href="/group/~~$group['slug']~">~~$group['display']~</a>&nbsp;/&nbsp;

        ~}~
    </div>

