<div class="p10">
    <span class="label label-inverse">website </span> <br>
    <ul class="unstyled">
    ~foreach($view as $link){ ~
        <li><a href="~~$link~" target="_blank">~~$link~ </a></li>

    ~}~

    </ul>
</div>
