<div class="item-link">
    <ul class="unstyled">
    ~foreach($view->links as $link){ ~
        <li><a href="~~$link~" target="_blank">~~$link~ </a></li>

    ~}~
    </ul>
    ~if($view->hasSite) {~
        <a class="big" href="/site/~~$view->siteId~?cname=~~$view->siteUrl~">more from ~~$view->siteUrl~&nbsp;&rarr;</a>
    ~}~
</div>

