<div class="item-groups mt20"> <span class="label label-warning">Actions&nbsp;</span>&nbsp; </div>
<div class="mt20">
    <div class="row">
        <div class="span2">
        <ul class="unstyled">
            ~if($view->isLoggedInUser){~
            <li> <i class="icon-edit"></i>&nbsp;
                 <a href="~~$view->editUrl~">Edit item</a> </li>
            ~}~
            <li> <i class="icon-asterisk"></i>&nbsp;
                 <a href="" id="~~$view->itemId~" class="like-post-link">Like item</a> </li>
            <li> <i class="icon-bookmark"></i>
                 <a href="" id="~~$view->itemId~" class="favorite-post-link">Favorite</a> </li>
            <li> <i class="icon-user"></i>&nbsp;
                 <a href="" id="~~$view->followerId~|~~$view->followingId~" class="follow-user-link">Follow user</a> </li>
        </ul>
        </div>
        <div class="span2">
        <ul class="unstyled">
            <li> <i class="icon-share"></i>&nbsp;<a href="#" id="share-facebook">Share on Facebook</a> </li>
            <li> <i class="icon-share"></i>&nbsp;<a href="#" id="share-google">Share on Google+</a> </li>
        </ul>

        </div>

    </div> <!-- row -->
</div>
<div class="hr"> </div>

