<div class="toolbar mt20">
    <div class="toolbar-button">
        <a href="" id="~~$view->itemId~" class="like-post-link"> <i class="icon-heart"> </i><br><span>Like</span></a>
    </div>
    <div class="toolbar-button">
        <a href="" id="~~$view->itemId~" class="save-post-link"> <i class="icon-plus-sign"> </i><br><span>Save</span></a>
    </div>
    <div class="toolbar-button">
        <a href="" id="~~$view->followerId~|~~$view->followingId~" class="follow-user-link"> <i class="icon-user"> </i><br><span>Follow</span></a>
    </div>
    <div class="clear"> </div>
</div>
