<div class="item-groups mt20"> <span class="label label-warning">Actions&nbsp;</span>&nbsp; </div>
<div class="mt20">
    <ul class="unstyled">
        ~if($view->isLoggedInUser){~
            <li>
                <a href="~~$view->editUrl~">Edit item</a>
            </li>
        ~}~
        <li>
            <a href="" id="~~$view->itemId~" class="like-post-link">Like item&nbsp;<i class="icon-heart"> </i></a> 
        </li>
        <li>
            <a href="" id="~~$view->itemId~" class="save-post-link">Save item&nbsp;<i class="icon-plus-sign"></i></a>
        </li>
        <li>
            <a href="" id="~~$view->followerId~|~~$view->followingId~" class="follow-user-link">Follow user&nbsp;<i class="icon-user"> </i></a>
        </li>
        <li>
         <a href="#" id="share-facebook">Share on Facebook</a>
        </li>
        <li>
            <a href="#" id="share-google">Share on Google+</a>
        </li>
       

    </ul>
</div>
