

<div class="item">
    <div class="title">
        ~~$view->name~ &nbsp; ~~$view->email~ &nbsp; ~~$view->phone~
    </div>
    <div class="message">
        ~~$view->description~
    </div>
</div>
<div class="hr"> </div>
