<div class="widget">
    <div class="options">
        <div class="links">
            <a href="~~$view->deleteUrl~">Delete&nbsp;<i class="icon-remove"></i></a>
        </div>
    </div>
            
   <p class="comment-text">~~$view->description~ </p>
   <div class="ml20">
        <span class="feed-text">
           ~~$view->name~ &nbsp; ~~$view->email~ &nbsp; ~~$view->phone~
        </span>
   </div>
            
</div>


