
<div class="section11" >
    <div class="adbox adbox-item">
        <p class="comment-text">
            Share your cool stuff with others.  
            You can upload images from your computer or share 
            any webpage you like!
        </p>
        
        <div>
            <a id="adbox-popup-share" href="#" class="btn btn-large">Click to Upload item</a>
        </div>
    </div>
    
</div>
