<div class="item">
    <div class="section1">
    	 ~if(sizeof($view->links) > 0 ) {~
            <ul class="unstyled">
            ~foreach($view->links as $link){ ~
                <li><a href="~~$link~" class="link b" target="_blank">~~$link~</a></li>
            ~}~
            </ul>

        ~}~
        <p class="comment-text"> ~~$view->description~</p>
    </div>
    <div class="section1">
         <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_preferred_5"></a>
                <a class="addthis_button_preferred_6"></a>
                <a class="addthis_button_preferred_7"></a>
                <a class="addthis_button_preferred_8"></a>
                <a class="addthis_button_compact"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e57380d63c7f2a1"></script>
            <!-- AddThis Button END -->

    </div>
</div>