<div id="gallery">
    <div class="section1">
        <div class="main-image">
            <a class="gallery" rel ="group1" href="~~$view->mainImage['source']~" >
                <img src="~~$view->mainImage['source']~"  width="~~$view->mainImage['width']~" height="~~$view->mainImage['height']~"  alt="~~$view->title~" />
            </a>
        </div>

    </div>


</div> <!-- fancybox:item -->
