<div id="gallery">
    <div class="section">
        <div class="main-image">
            <a class="gallery" rel ="group1" href="~~$view->mainImage['source']~" >
                <img src="~~$view->mainImage['source']~" alt="~~$view->title~" "/>
            </a>
        </div>
        
        <div class="zoom-info">
            <i class="icon-zoom-in"> </i> click to view full size
        </div>

    </div>


</div> <!-- gallery -->
