
<div id="gallery">
    <div class="section1">
        <div class="main-image">
            <a class="gallery" rel ="group1" href="~~$view->mainImage['source']~" >
                <img src="~~$view->mainImage['source']~" alt="~~$view->title~" width="~~$view->mainImage['width']~" height="~~$view->mainImage['height']~" />
            </a>
        </div>
    </div>

    <div class="section">
        &nbsp;
        ~foreach($view->thumbnails as $image) {~
            <div class="container">
                <a class="gallery" rel ="group1" href="~~$image['source']~" >
                    <img src="~~$image['thumbnail']~" alt="~~$view->title~" />
                </a>
            </div>
        ~}~

        <div class="clear"> </div>

    </div>


</div> <!-- fancybox:gallery -->

