  ~if($view->hasGroups) { ~
    <div class="section1">
        <span class="label">Groups&nbsp;</span>
        <br>
        <br>
        ~foreach($view->groups as $group){~
            <a href="/group/~~$group['slug']~" class="faded-text">&nbsp;#~~$group['display']~</a>&nbsp;

        ~}~
    </div>

~}~
