  ~if($view->hasGroups) { ~
    <div class="section">
        <span class="label">Groups&nbsp;</span>
        <br>
        <br>
        <ul class="unstyled">
        ~foreach($view->groups as $group){~
            <li> <a href="/group/~~$group['slug']~" class="faded-text">&nbsp;~~$group['display']~</a></li>

        ~}~
        </ul>
    </div>

~}~
