
<div class="section3">
    <div class="item">
        <div class="title">
            ~~$view->title~
        </div>

        
        <div class="toolbar">
       
            <ul class="tools unstyled">
                ~if($view->isLoggedInUser){~
                    <li> <a href="~~$view->editUrl~">Edit</a> </li>
                ~}~
                <li> <a href="" id="~~$view->itemId~" class="like-post-link">Like&nbsp;<i class="icon icon-heart"> </i></a></li>
                <li><a href="" id="~~$view->itemId~" class="favorite-post-link">Save</a> </li>
                <li><a href="" id="~~$view->followerId~|~~$view->followingId~" class="follow-user-link">Follow user</a> </li>
                 <li><a href="#web-form1">Comment&nbsp;<i class="icon icon-comment"> </i></a> </li>

            </ul>
            <div class="clear"> </div>
        </div>
   
    </div>

</div>


