 ~if($view->isItemOwner){~
<div class="section3">
    <div class="item">
        <div class="toolbar">
            <ul class="tools unstyled">
                    <li>
                        <a href="~~$view->editUrl~"><i class="icon icon-edit"></i>&nbsp;Edit</a>
                    </li>
            </ul>
            <div class="clear"> </div>
        </div>
    </div>

</div>
 ~}~

