
<div class="section3">
    <div class="item">
        <div class="title">
            ~~$view->title~
        </div>

        
        <div class="toolbar">
       
            <ul class="tools unstyled">
                ~if($view->isLoggedInUser){~
                    <li> <a href="~~$view->editUrl~">Edit</a> </li>
                ~}~
                <li><a href="" id="~~$view->itemId~" class="like-post-link"><i class="icon icon-heart"></i>&nbsp;Like</a></li>
                <li><a href="" id="~~$view->itemId~" class="save-post-link">Save</a> </li>
                 <li><a href="#web-form1"><i class="icon icon-comment"></i>&nbsp;Comment</a> </li>

            </ul>
            <div class="clear"> </div>
        </div>
   
    </div>

</div>


