
<div class="section">
    <ul>
        <li> <a class="faded-text" target="_blank" href="~~$view->userPageURI~">more items by ~~$view->userName~</a> </li>
    ~if($view->hasSite) {~
        <li> <a class="faded-text" target="_blank" href="/site/~~$view->siteId~?cname=~~$view->siteUrl~">more items from shop&nbsp;&rarr;</a> </li>
    ~}~
    </ul>

</div> <!-- section:more-links -->



