
<div class="item">
    <div class="quote">
        <a target="_blank" href="~~$view->userPageURI~">
            <span class="faded-text"> check page of user</span>
            <br>
            <span class="title">~~$view->userName~</span>
         </a>
    </div>
    ~if($view->hasSite){~
    <div class="quote">
        <a target="_blank" href="/site/~~$view->siteId~?cname=~~$view->siteUrl~">
            <span class="faded-text"> see more from shop</span>
            <br>
            <span class="title">~~$view->siteUrl~</span>
         </a>
    </div>
    ~}~

    <div class="clear"> </div>
</div>



