<div class="section1">
    <div class="item">
        <div class="user">
            <span class="name"><a href="~~$view->userPageURI~" target="_blank">~~$view->userName~</a> </span>
            <span class="faded-text">shared</span>
        </div>
    </div> 

    
    ~if($view->hasSite){~
        <span class="faded-text">from&nbsp;</span>
        <a class="b" href="/site/~~$view->siteId~?cname=~~$view->siteUrl~">~~$view->siteUrl~</a>
        
    ~}~
   
</div>



