<div class="section1">
    <div class="user">
        <a href="~~$view->userPageURI~" class="name" target="_blank">~~$view->userName~</a>
        <span class="faded-text">posted&nbsp;</span>
        <br>
        <div style="padding-left:10px;padding-top:10px;"> 
            <a href="" id="~~$view->followerId~|~~$view->followingId~" class="btn follow-user-link">Follow</a>
             
        </div>

    </div>
   
</div>