<div class="section1">
    <div class="user">
    	<a href="~~$view->userPageURI~" class="name" target="_blank">~~$view->userName~</a>
        <br>
    	<span class="faded-text">posted&nbsp;on&nbsp;~~$view->createdOn~</span>
        <br>
        
        <div style="padding-top:10px;"> 
            <a href="" id="~~$view->followerId~|~~$view->followingId~" class="btn btn-small follow-user-link">Follow</a>
             
        </div>

    </div>
   
</div>