
<div class="tile">
    <div class="faded-text b p10"> what is happening? </div>
    <div class="hr"> </div>

   <div class="feeds">
     ~~$view->content~
   </div>
   <div class="floatr">
        <a href="/site/feed.php">more...</a>
    </div>
</div>

