
<div class="tile">
   <span class="comment-text"> what is happening? </span>

   <div class="feeds">
     ~~$view->content~
   </div>
   <div class="floatr">
        <a href="/site/feed.php">more...</a>
    </div>
</div>

