
<div class="tile">
   <h3> what is happening? </h3>

   <div class="feeds">
     ~~$view->content~
   </div>
   <div class="floatr">
        <a href="/site/feed.php">more...</a>
    </div>
</div>

