<div class="item">
    	<a href="~~$view['subjectUrl']~"><span class="b">~~$view['subject']~</span></a>
        <span class="faded-text">~~$view['verb']~ </span>
        <a href="~~$view['objectUrl']~"><span>~~$view['object']~</span></a>
</div>
