
<div class="item">
    <div class="title">
        <i class="icon-asterisk"> </i>&nbsp;<a href="~~$view['subjectUrl']~">~~$view['subject']~</a>
        <span class="verb"> ~~$view['verb']~ </span>
        <a href="~~$view['objectUrl']~">~~$view['object']~</a>
    </div>
    <div class="body">

    </div>

</div>
