<div class="item">
    <a href="~~$view['subjectUrl']~">
    	<span class="b">~~$view['subject']~</span>
        <span class="faded-text">~~$view['verb']~ </span>
        <span>~~$view['object']~</span>
    </a>
</div>
