Hi

I sent you this e-mail just to notify you about 3mik, a place to discover shops and products in India. Please step-in this site and check it out yourself. Here is the link:     

http://www.3mik.com/

Thanks

