
<div class="tile">
   <div class="options">
        <div class="links">
             ~if($view->hasLike){~
            <a id="~~$view->itemId~" class ="btn btn-mini like-post" href="">Like</a> &nbsp;
            ~}~
            ~if($view->hasSave){~
            <a id="~~$view->itemId~" class="btn btn-mini save-post" href="">Save</a> &nbsp;
            ~}~
            
            ~if($view->hasRemove){~
            <a id="~~$view->itemId~" class ="btn btn-mini remove-post" href="">Remove</a> &nbsp;
            ~}~
        </div>
    </div>
   <div class="description">
     ~~$view->description~
   </div>
       
    <div>
        <span class="user"> <a href="~~$view->userPageURI~">~~$view->userName~</a> </span>
    </div>

    ~if($view->hasGroups) {~
    <div class="groups">
        ~foreach($view->groups as $group){~
            <a href="/group/~~$group['slug']~">~~$group['display']~&nbsp;&nbsp;</a>

        ~}~

    </div>
    ~}~
    &nbsp;<a href="/item/~~$view->itemId~">more&nbsp;...</a>

</div>

