
<div class="tile">
   <div class="options">
        <div class="links">
             ~if($view->hasLike){~
            <a id="~~$view->itemId~" class ="btn btn-mini like-post-link" href="">Like</a> &nbsp;
            ~}~
            ~if($view->hasSave){~
            <a id="~~$view->itemId~" class="btn btn-mini favorite-post-link" href="">Favorite</a> &nbsp;
            ~}~
            
            ~if($view->hasRemove){~
            <a id="~~$view->itemId~" class ="btn btn-mini remove-post-link" href="">Remove</a> &nbsp;
            ~}~
        </div>
    </div>
   <div class="description">
     <p> ~~$view->description~&nbsp;<a href="/item/~~$view->itemId~">more...</a> </p>
   </div>
       
    <div>
        <span class="b"> <a href="~~$view->userPageURI~">~~$view->userName~</a> </span>
    </div>

    ~if($view->hasGroups) {~
    <div class="groups">
    Groups:
        ~foreach($view->groups as $group){~
            <a href="/group/~~$group['slug']~">~~$group['display']~</a>&nbsp;

        ~}~

    </div>
    ~}~

</div>

