
<div class="tile">
   <div class="options">
        <div class="links">
            <a href="/item/~~$view->itemId~">Comment&nbsp;<i class="icon-comment"></i></a>&nbsp;
        </div>
    </div>
   <div class="description">
	 ~~$view->description~
   </div>
 	   
	<div class="author">
		<div class="meta">
			<span class="b"> <a href="~~$view->userPageURI~">~~$view->userName~</a> </span>
			<span>&nbsp;~~$view->createdOn~</span>
		</div>
	</div>

    ~if($view->hasGroups) {~
    <div class="groups">
    Groups:
        ~foreach($view->groups as $group){~
            <a href="/group/~~$group['slug']~">~~$group['display']~</a>&nbsp;

        ~}~

    </div>
    ~}~


	<div><a href="/item/~~$view->itemId~">more&nbsp;&#8594;</a></div>
</div>

